In [33]:
import pandas as pd
import json
import ast
import numpy as np

# Carga el archivo CSV en un DataFrame de pandas
df = pd.read_csv("E:\hENRYDATASEMANAS\lab1\movies_dataset.csv")

C:\Users\tonto\AppData\Local\Temp\ipykernel_12176\3413753164.py:7: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("E:\hENRYDATASEMANAS\lab1\movies_dataset.csv")

In [34]:
#Desanidar la columna "belongs_to_collection"
#Rellenamos los Nulos
df["belongs_to_collection"].fillna( "{'id': None, 'name': None, 'poster_path': None, 'backdrop_path': None}", inplace=True)
#Movemos a un data frame para poder separarlo
df1= pd.DataFrame(df['belongs_to_collection'])

# FunciÃ³n para dividir la cadena en columnas
def split_collection(collection_str):
    try:
        # FunciÃ³n para dividir la cadena en columnas
        collection_dict = ast.literal_eval(collection_str)
        # Extraer los valores correspondientes utilizando el mÃ©todo get()
        id = collection_dict.get('id')
        name = collection_dict.get('name')
        poster_path = collection_dict.get('poster_path')
        backdrop_path = collection_dict.get('backdrop_path')
        return pd.Series([id, name, poster_path, backdrop_path])
    except:
        return pd.Series([None, None, None, None])

# Aplicar la funciÃ³n a la columna y agregar las nuevas columnas al DataFrame
df[['id_collection', 'name_collection', 'poster_path_collection', 'backdrop_path_collection']] = df['belongs_to_collection'].apply(split_collection)
# Eliminar la columna original
df.drop('belongs_to_collection', axis=1, inplace=True)
df.head()

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,video,vote_average,vote_count,id_collection,name_collection,poster_path_collection,backdrop_path_collection
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,Released,NaN,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,None,None,None
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,None,None,None
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

In [35]:
#Desanidar la columna "'genres'"
# Definir funciÃ³n para separar lista de diccionarios en dos columnas
def split_genres(row):
    # Convertir string a lista de diccionarios
    genres_list = ast.literal_eval(row)
    # Crear listas separadas para id y name
    id_list = [d.get('id') for d in genres_list]
    name_list = [d.get('name') for d in genres_list]
    # Crear diccionario de salida
    out_dict = {'id_Genres': id_list, 'name_Genres': name_list}
    return pd.Series(out_dict)

# Aplicar funciÃ³n a cada fila del DataFrame y agregar columnas resultantes
df[['id_Genres', 'name_Genres']] = df['genres'].apply(split_genres)
# Eliminar la columna original
df.drop('genres', axis=1, inplace=True)
df.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,title,video,vote_average,vote_count,id_collection,name_collection,poster_path_collection,backdrop_path_collection,id_Genres,name_Genres
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Toy Story,False,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[16, 35, 10751]","[Animation, Comedy, Family]"
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Jumanji,False,6.9,2413.0,NaN,None,None,None,"[12, 14, 10751]","[Adventure, Fantasy, Family]"
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Grumpier Old Men,False,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[10749, 35]","[Romance, Comedy]"
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Waiting to Exhale,False,6.1,34.0,NaN,None,None,None,"[35, 18, 10749]","[Comedy, Drama, Romance]"
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Father of the Bride Part II,False,5.7,173.0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,[35],[Comedy]

In [36]:
#Desanidar la columna "production_companies"
#Rellenamos los Nulos
df["production_companies"].fillna( "[{'name': 'sin dato', 'id': 'sin dato'}]", inplace=True)
# Definir funciÃ³n para separar lista de diccionarios en dos columnas
def split_production_companies(row):
   try:
        # Convertir string a lista de diccionarios
        production_companies_list = ast.literal_eval(row)
        # Crear listas separadas para id y name
        name_list = [d.get('name') for d in production_companies_list]
        id_list = [d.get('id') for d in production_companies_list]    
        # Crear diccionario de salida
        out_dict = {'name_production_companies': name_list, 'id_production_companies': id_list}
        return pd.Series(out_dict)
   except:
        salida = {'name_production_companies': None , 'id_production_companies': None}
        return pd.Series(salida)

# aplicar la funciÃ³n a la columna y agregar las nuevas columnas al DataFrame
df[['name_production_companies', 'id_production_companies']] = df['production_companies'].apply(split_production_companies)
# Eliminar la columna original
df.drop("production_companies", axis=1, inplace=True)
df.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,vote_average,vote_count,id_collection,name_collection,poster_path_collection,backdrop_path_collection,id_Genres,name_Genres,name_production_companies,id_production_companies
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[16, 35, 10751]","[Animation, Comedy, Family]",[Pixar Animation Studios],[3]
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,6.9,2413.0,NaN,None,None,None,"[12, 14, 10751]","[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...","[559, 2550, 10201]"
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,6.5,92.0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[10749, 35]","[Romance, Comedy]","[Warner Bros., Lancaster Gate]","[6194, 19464]"
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,6.1,34.0,NaN,None,None,None,"[35, 18, 10749]","[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[306]
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,5.7,173.0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,[35],[Comedy],"[Sandollar Productions, Touchstone Pictures]","[5842, 9195]"

In [37]:
#Desanidar la columna "production_companies"
#Rellenamos los Nulos
df["production_countries"].fillna( "[{ 'iso_3166_1': None,'name': None}]", inplace=True)
# Definir funciÃ³n para separar lista de diccionarios en dos columnas
def split_production_countries(row):
   try:
        # Convertir string a lista de diccionarios
        production_countries_list = ast.literal_eval(row)
        # Crear listas separadas para id y name
        iso_3166_1_list = [d.get('iso_3166_1') for d in production_countries_list] 
        name_list = [d.get('name') for d in production_countries_list]
           
        # Crear diccionario de salida
        out_dict = {'name_production_countries': name_list, 'iso_3166_1_production_countries': iso_3166_1_list}
        return pd.Series(out_dict)
   except:
        salida = {'name_production_countries': None , 'iso_3166_1_production_countries': None}
        return pd.Series(salida)

# aplicar la funciÃ³n a la columna y agregar las nuevas columnas al DataFrame
df[['name_production_countries', 'iso_3166_1_production_countries']] = df['production_countries'].apply(split_production_countries)
# Eliminar la columna original
df.drop("production_countries", axis=1, inplace=True)
df.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,id_collection,name_collection,poster_path_collection,backdrop_path_collection,id_Genres,name_Genres,name_production_companies,id_production_companies,name_production_countries,iso_3166_1_production_countries
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[16, 35, 10751]","[Animation, Comedy, Family]",[Pixar Animation Studios],[3],[United States of America],[US]
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,NaN,None,None,None,"[12, 14, 10751]","[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...","[559, 2550, 10201]",[United States of America],[US]
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[10749, 35]","[Romance, Comedy]","[Warner Bros., Lancaster Gate]","[6194, 19464]",[United States of America],[US]
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,NaN,None,None,None,"[35, 18, 10749]","[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[306],[United States of America],[US]
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,[35],[Comedy],"[Sandollar Productions, Touchstone Pictures]","[5842, 9195]",[United States of America],[US]

In [38]:
#Desanidar la columna spoken_languages
#Rellenamos los Nulos
df["spoken_languages"].fillna( "[{ 'iso_639_1': None,'name': None}]", inplace=True)
# Definir funciÃ³n para separar lista de diccionarios en dos columnas
def split_spoken_languages(row):
   try:
        # Convertir string a lista de diccionarios
        spoken_languages_list = ast.literal_eval(row)
        # Crear listas separadas para id y name
        iso_639_1_list = [d.get('iso_639_1') for d in spoken_languages_list] 
        name_list = [d.get('name') for d in spoken_languages_list]
           
        # Crear diccionario de salida
        out_dict = {'name_spoken_languages': name_list, 'iso_639_1_spoken_languages': iso_639_1_list}
        return pd.Series(out_dict)
   except:
        salida = {'name_spoken_languages': None , 'iso_639_1_spoken_languages': None}
        return pd.Series(salida)

# aplicar la funciÃ³n a la columna y agregar las nuevas columnas al DataFrame
df[['name_spoken_languages', 'iso_639_1_spoken_languages']] = df['spoken_languages'].apply(split_spoken_languages)
# Eliminar la columna original
df.drop("spoken_languages", axis=1, inplace=True)
df.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,poster_path_collection,backdrop_path_collection,id_Genres,name_Genres,name_production_companies,id_production_companies,name_production_countries,iso_3166_1_production_countries,name_spoken_languages,iso_639_1_spoken_languages
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,"[16, 35, 10751]","[Animation, Comedy, Family]",[Pixar Animation Studios],[3],[United States of America],[US],[English],[en]
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,None,None,"[12, 14, 10751]","[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...","[559, 2550, 10201]",[United States of America],[US],"[English, FranÃ§ais]","[en, fr]"
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,"[10749, 35]","[Romance, Comedy]","[Warner Bros., Lancaster Gate]","[6194, 19464]",[United States of America],[US],[English],[en]
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,None,None,"[35, 18, 10749]","[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[306],[United States of America],[US],[English],[en]
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,[35],[Comedy],"[Sandollar Productions, Touchstone Pictures]","[5842, 9195]",[United States of America],[US],[English],[en]

In [39]:
#Verificar nulos
# contar los valores nulos en 'revenue' y 'budget'
null_counts1 = df['revenue'].isnull().sum()
null_counts2 = df['budget'].isnull().sum()
# imprimir el resultado
print('nulos en revenue', null_counts1 ,'nulos en budget',null_counts2)
#Remplazar los nulos por  0
df['revenue'].fillna(0, inplace=True)
df['budget'].fillna(0, inplace=True)
# contar los valores nulos en 'revenue' y 'budget'
null_counts1 = df['revenue'].isnull().sum()
null_counts2 = df['budget'].isnull().sum()
# imprimir el resultado
print('nulos en revenue', null_counts1 ,'nulos en budget',null_counts2)

nulos en revenue 6 nulos en budget 0
nulos en revenue 0 nulos en budget 0

In [40]:
# Convertir columna release_date al formato deseado si esta fuera de formato de NaN
df["release_date"] = pd.to_datetime(df["release_date"], format="%Y-%m-%d", errors="coerce")

# Extraer el aÃ±o de la fecha y crear la columna release_year
df["release_year"] = df["release_date"].dt.year
df["release_month"] = df["release_date"].dt.strftime("%B")
df['release _day'] = df['release_date'].dt.strftime('%A')
meses = {
    "January": "Enero",
    "February": "Febrero",
    "March": "Marzo",
    "April": "Abril",
    "May": "Mayo",
    "June": "Junio",
    "July": "Julio",
    "August": "Agosto",
    "September": "Septiembre",
    "October": "Octubre",
    "November": "Noviembre",
    "December": "Diciembre"
}

# Diccionario con los nombres de los dÃ­as de la semana en inglÃ©s y espaÃ±ol
dias = {
    "Monday": "Lunes",
    "Tuesday": "Martes",
    "Wednesday": "MiÃ©rcoles",
    "Thursday": "Jueves",
    "Friday": "Viernes",
    "Saturday": "SÃ¡bado",
    "Sunday": "Domingo"
}

# Aplicar el mÃ©todo map() para cambiar los nombres en inglÃ©s por los nombres en espaÃ±ol
df["release_month"] = df["release_month"].map(meses)
df["release _day"] = df["release _day"].map(dias)
# contar los valores nulos en 'release_date'
null_counts_year = df['release_date'].isnull().sum()
# imprimir el resultado
print(null_counts_year)

90

In [41]:
import numpy as np

In [42]:
# Convertir la columna budget a valores numÃ©ricos  ademas en la position 19730 string "/ff9qCepilowshEtG2GYWwzt2bs4.jpg"  por lo que se usara errors
df["budget"] = pd.to_numeric(df["budget"], errors="coerce")
# Crear columna return
df["return"] = np.where((df["budget"]==0) | (df["revenue"]==0), 0, df["revenue"]/df["budget"])

In [43]:
#dropeamos las columnas que no vamos a usar
columns_to_drop = ["video", "imdb_id", "adult", "original_title", "vote_count", "poster_path", "homepage"]
df = df.drop(columns_to_drop, axis=1)

In [44]:
# Convertimos en lista en contenido de 'name_Genres'

df['name_Genres_str'] = df['name_Genres'].apply(lambda x: ", ".join(x))

# Verificar que ahora 'name_Genres' es una lista para cada fila
print(df['name_Genres'].apply(type).value_counts())

#Remplazar los valores '[]'
df['name_Genres'] = df['name_Genres'].replace('[]', None)

<class 'list'>    45466
Name: name_Genres, dtype: int64

In [45]:
df['name_Genres'].value_counts()

[Drama]                                 5000
[Comedy]                                3621
[Documentary]                           2723
[]                                      2442
[Drama, Romance]                        1301
                                        ...
[Action, Drama, Comedy, Documentary]       1
[War, Drama, History, Thriller]            1
[Horror, Drama, History, Thriller]         1
[Comedy, Crime, Action, Drama]             1
[Family, Animation, Romance, Comedy]       1
Name: name_Genres, Length: 4069, dtype: int64

In [46]:
df.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,id_production_companies,name_production_countries,iso_3166_1_production_countries,name_spoken_languages,iso_639_1_spoken_languages,release_year,release_month,release _day,return,name_Genres_str
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,[3],[United States of America],[US],[English],[en],1995.0,Octubre,Lunes,12.451801,"Animation, Comedy, Family"
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,"[559, 2550, 10201]",[United States of America],[US],"[English, FranÃ§ais]","[en, fr]",1995.0,Diciembre,Viernes,4.043035,"Adventure, Fantasy, Family"
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,"[6194, 19464]",[United States of America],[US],[English],[en],1995.0,Diciembre,Viernes,0.000000,"Romance, Comedy"
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,[306],[United States of America],[US],[English],[en],1995.0,Diciembre,Viernes,5.090760,"Comedy, Drama, Romance"
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,...,"[5842, 9195]",[United States of America],[US],[English],[en],1995.0,Febrero,Viernes,0.000000,Comedy

In [47]:
df.to_csv('movies_dataset_modificado.csv', index=False)